AuthType Basic
AuthName "Members Only"
AuthUserFile /var/www/clients/client989/web2711/web/stats/.htpasswd_stats
require valid-user

RewriteEngine On

# Átirányítja a kiterjesztés nélküli URL-eket a megfelelő .php fájlra az includes könyvtárban
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ includes/$1.php [NC,L]

# Biztosítja az index.php alapértelmezett betöltését, ha az alapkönyvtárban van
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Hibakezelés
ErrorDocument 404 /404.php

# Biztonsági beállítások
<FilesMatch "\.(htaccess|htpasswd|ini|log|conf)$">
  Order allow,deny
  Deny from all
</FilesMatch>
