# Enable the Rewrite Engine
RewriteEngine On

# Rewrite rule to map requests without an extension to PHP files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteBase /myapp/
